<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenPLS</title>
    <script src="js/auth.js"></script>
    <script src="js/constants.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body onload="init()">
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    OpenPLS
                </a>
                <div>
                    <a class="btn btn-primary" style="display: none;" id="g-signout-btn" href="#"
                        onclick="signOut();">Sign Out</a>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        <div style="display: none;" id="login" class="container bg-light py-3 px-lg-5 py-lg-5">
            <div class="row justify-content-center">
                <div id="g-signin-btn"></div>
            </div>
        </div>
        <div style="display: none;" id="main" class="py-5">
            {{content}}
        </div>
    </main>
    <footer class="py-5 px-5">
        <div class="container">
            <p>
                &copy; 2019 Google Inc
                <span class="text-muted">
                    <a href="">(Source Code)</a>
                </span>
            </p>
            <p>
                <small class="text-muted">
                    This website is hosted for demo purposes only. This is not an official Google project.
                </small>
            </p>
        </div>
    </footer>
</body>

</html>